bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DistributedTaskExecutionSystem/config
/.vs/DistributedTaskExecutionSystem/DesignTimeBuild
/.vs/DistributedTaskExecutionSystem/FileContentIndex
